@model EmployeeViewModel
@{
    ViewData["Title"] = "Delete";
}

<h1>Delete Employee @Model.Name</h1>
<br/>
<br/>
<div asp-validation-summary="All">

</div>
<form asp-action="Delete">

    <Partial name="PartialView/DeleteDetailPartialView" />

    <input type="submit" value="Delete" class="btn btn-danger" />
    <a asp-action="Index" class="btn btn-light">Cancel</a>
</form>

