@model UserViewModel
@{
    ViewData["Title"] = "Delete";
}


<h1>Are You Sure To Delete @Model.Email User</h1>
<br />
<br />
<div asp-validation-summary="All"></div>
<form asp-action="ConfirmDelete">

    <div class="form-group">
        <label class="col-form-label" asp-for="Id"></label>
        <input readonly class="form-control" asp-for="Id" />
        <span asp-validation-for="Id" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label class="col-form-label" asp-for="Fname"></label>
        <input readonly class="form-control" asp-for="Fname" />
        <span asp-validation-for="Fname" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label class="col-form-label" asp-for="Lname"></label>
        <input readonly class="form-control" asp-for="Lname" />
        <span asp-validation-for="Lname" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label class="col-form-label" asp-for="Email"></label>
        <input readonly class="form-control" asp-for="Email" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label class="col-form-label" asp-for="PhoneNumber"></label>
        <input readonly class="form-control" asp-for="PhoneNumber" />
        <span asp-validation-for="PhoneNumber" class="text-danger"></span>
    </div>
    <input type="submit" value="Delete" class="btn btn-danger" />
    <a asp-action="Index" class="btn btn-light">Back To List</a>

</form>
