@model UserViewModel
@{
    ViewData["Title"] = "Edit";
}


<h1>User @Model.Email Edit</h1>
<br />
<br />
<div asp-validation-summary="All">
</div>
<form asp-action="Edit">
    <div class="form-group">
        <label class="col-form-label" asp-for="Fname"></label>
        <input class="form-control" asp-for="Fname" />
        <span asp-validation-for="Fname" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label class="col-form-label" asp-for="Lname"></label>
        <input class="form-control" asp-for="Lname" />
        <span asp-validation-for="Lname" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label class="col-form-label" asp-for="PhoneNumber"></label>
        <input class="form-control" asp-for="PhoneNumber" />
        <span asp-validation-for="PhoneNumber" class="text-danger"></span>
    </div>

    <input type="submit" value="Save" class="btn btn-primary" />
    || <a asp-action="Index" class="btn btn-light">Back To List</a>

</form>
@section ValidationScriptSection{
    <partial name="_ValidationScriptsPartial" />
}