@model RoleViewModel
@{
    ViewData["Title"] = "Edit";
}


<div asp-validation-summary="All">
</div>
<form asp-action="Edit">
    <div class="form-group">
        <label class="col-form-label" asp-for="RoleName"></label>
        <input class="form-control" asp-for="RoleName" />
        <span asp-validation-for="RoleName" class="text-danger"></span>
    </div>
    
    <input type="submit" value="Save" class="btn btn-primary" />
    || <a asp-action="Index" class="btn btn-light">Back To List</a>

</form>
@section ValidationScriptSection{
    <partial name="_ValidationScriptsPartial" />
}
