@model ForgetPasswordViewModel
@{
    ViewData["Title"] = "ForgetPassword";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}



<div asp-validation-summary="All" class="text-danger"></div>
<div class="main-agileinfo">
	<div class="agileits-top">
		<form asp-action="SendEmail">

			<input class="text" asp-for="Email" placeholder="Your Email" required="">
			<span asp-validation-for="Email" class="text-danger"></span>
			<br />
		    <input type="submit" value="Reset Password"/>
		</form>
	</div>
</div>
@section ValidationScriptSection{
	<partial name="_ValidationScriptsPartial" />
}
