@model ResetPasswordViewModel
@{
    ViewData["Title"] = "ResetPassword";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}


<div asp-validation-summary="All" class="text-danger"></div>
<div class="main-agileinfo">
	<div class="agileits-top">
		<form asp-action="ResetPassword">

			<input class="text" asp-for="NewPassword" placeholder="Enter New Password" required="">
			<span asp-validation-for="NewPassword" class="text-danger"></span>
			<br />
			<input class="text" asp-for="ConfirmPassword" placeholder="Enter Password To Confirm" required="">
			<span asp-validation-for="ConfirmPassword" class="text-danger"></span>
			<br />
			
			<input type="submit" value="Reset">
		</form>
	</div>
</div>
@section ValidationScriptSection{
	<partial name="_ValidationScriptsPartial" />
}
